<section class="section-about-us container">
  <div class="container-about-us">
    <div class="about-us-text">
      <h2 class="about-us-title">About Us</h2>
        <div class="about-us-list">
          <p class="about-us-description">
            Welcome to our premium watch collection, where luxury and style meet
            functionality and precision. Our selection of timepieces embodies the
            very best in Swiss craftsmanship and engineering, ensuring that you'll
            always have a reliable and stylish accessory on your wrist.
          </p>
          <p class="about-us-description">
            At our premium watch collection, we believe that a watch is more than
            just a timekeeping device – it's a statement piece that reflects your
            personality and style. So why settle for anything less than the best?
          </p>
        </div>
      <button class="about-us-btn" type="button">View catalog</button>
    </div>
    <picture class="picture-about-us">
      <source
        srcset="
          ./img/about-us/about-us-clock-mobile.png    1x,
          ./img/about-us/about-us-clock-mobile-2x.png 2x
        "
        media="(max-width:767px)"
      />
      <source
        srcset="
          ./img/about-us/about-us-clock-table.png    1x,
          ./img/about-us/about-us-clock-table-2x.png 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./img/about-us/about-us-clock-comp.png    1x,
          ./img/about-us/about-us-clock-comp-2x.png 2x
        "
        media="(min-width:1280px)"
      />
      <img
        class="about-us-image"
        src="./img/about-us/about-us-clock-moritor.png"
        alt="clock"
        width="704"
      />
    </picture>
  </div>
</section>
