<section class="section-catalog" id="catalog">
  <div class="container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-list-item">
        <div class="catalog-img-container">
          <picture>
            <source
              srcset="
                ../img/catalog/catalog-clock-1-monitor.png    1x,
                ../img/catalog/catalog-clock-1-monitor-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../img/catalog/catalog-clock-1-table.png    1x,
                ../img/catalog/catalog-clock-1-table-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/catalog/catalog-clock-1-mobile.png    1x,
                ../img/catalog/catalog-clock-1-mobile-2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="../img/catalog/catalog-clock-1-monitor.png"
              alt="model: Garmin Fenix 7X Pro Sapphire Solar"
              width="292"
              class="catalog-img"
            />
          </picture>
        </div>

        <h3 class="catalog-subtitle">Garmin Fenix 7X Pro Sapphire Solar</h3>
        <p class="catalog-item-price">€500</p>
      </li>

      <li class="catalog-list-item">
        <div class="catalog-img-container">
          <picture>
            <source
              srcset="
                ../img/catalog/catalog-clock-2-monitor.png    1x,
                ../img/catalog/catalog-clock-2-monitor-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../img/catalog/catalog-clock-2-table.png    1x,
                ../img/catalog/catalog-clock-2-table-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/catalog/catalog-clock-2-mobile.png    1x,
                ../img/catalog/catalog-clock-2-mobile-2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="../img/catalog/catalog-clock-2-monitor.png"
              alt="model: Garmin Marq Athlete  "
              width="292"
              class="catalog-img"
            />
          </picture>
        </div>

        <h3 class="catalog-subtitle">Garmin Marq Athlete</h3>
        <p class="catalog-item-price">€450</p>
      </li>

      <li class="catalog-list-item">
        <div class="catalog-img-container">
          <picture>
            <source
              srcset="
                ../img/catalog/catalog-clock-3-monitor.png    1x,
                ../img/catalog/catalog-clock-3-monitor-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../img/catalog/catalog-clock-3-table.png    1x,
                ../img/catalog/catalog-clock-3-table-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/catalog/catalog-clock-3-mobile.png    1x,
                ../img/catalog/catalog-clock-3-mobile-2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="../img/catalog/catalog-clock-3-monitor.png"
              alt=" model: Garmin Descent MK1"
              width="292"
              class="catalog-img"
            />
          </picture>
        </div>

        <h3 class="catalog-subtitle">Garmin Descent MK1</h3>
        <p class="catalog-item-price">€680</p>
      </li>

      <li class="catalog-list-item">
        <div class="catalog-img-container">
          <picture>
            <source
              srcset="
                ../img/catalog/catalog-clock-4-monitor.png    1x,
                ../img/catalog/catalog-clock-4-monitor-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../img/catalog/catalog-clock-4-table.png    1x,
                ../img/catalog/catalog-clock-4-table-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/catalog/catalog-clock-4-mobile.png    1x,
                ../img/catalog/catalog-clock-4-mobile-2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="../img/catalog/catalog-clock-4-monitor.png"
              alt="model: Garmin D2 Delta PX "
              width="292"
              class="catalog-img"
            />
          </picture>
        </div>

        <h3 class="catalog-subtitle">Garmin D2 Delta PX</h3>
        <p class="catalog-item-price">€380</p>
      </li>

      <li class="catalog-list-item">
        <div class="catalog-img-container">
          <picture>
            <source
              srcset="
                ../img/catalog/catalog-clock-5-monitor.png    1x,
                ../img/catalog/catalog-clock-5-monitor-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../img/catalog/catalog-clock-5-table.png    1x,
                ../img/catalog/catalog-clock-5-table-2x.png 2x
              "
              media="(min-width: 768px)"
            />

            <img
              src="../img/catalog/catalog-clock-5-monitor.png"
              alt="model: Garmin Fenix 6 Pro Solar"
              width="292"
              class="catalog-img"
            />
          </picture>
        </div>

        <h3 class="catalog-subtitle">Garmin Fenix 6 Pro Solar</h3>
        <p class="catalog-item-price">€400</p>
      </li>

      <li class="catalog-list-item">
        <div class="catalog-img-container">
          <picture>
            <source
              srcset="
                ../img/catalog/catalog-clock-6-monitor.png    1x,
                ../img/catalog/catalog-clock-6-monitor-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../img/catalog/catalog-clock-6-table.png    1x,
                ../img/catalog/catalog-clock-6-table-2x.png 2x
              "
              media="(min-width: 768px)"
            />

            <img
              src="../img/catalog/catalog-clock-6-monitor.png"
              alt="model: Tube Watch S42 Date Steel With Black Case"
              width="292"
              class="catalog-img"
            />
          </picture>
        </div>

        <h3 class="catalog-subtitle">
          Tube Watch S42 Date Steel With Black Case
        </h3>
        <p class="catalog-item-price">€395</p>
      </li>
    </ul>
    <button type="button" class="catalog-btn">Show more</button>
  </div>
</section>
