<section class="hero container">
  <div class="hero-dscr-cont">
    <h1 class="hero-title">
      Welcome to our <span class="collection-span">collection</span> of premium
      watches
    </h1>
    <p class="hero-text">
      Our watches are not just timepieces, but also an expression of your
      personality and lifestyle. From classic designs to modern ones, we have a
      watch to suit every taste and occasion.
    </p>
  </div>
  <div class="photos-link-cont">
    <ul class="photos-list">
      <li class="photos-item">
        <picture
          ><source
            media="(min-width: 1280px)"
            srcset="
              /img/hero/hero-people-1-monitor.png    1x,
              /img/hero/hero-people-1-monitor-2x.png 2x
            " />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/hero/hero-people-1-table.png    1x,
              /img/hero/hero-people-1-table-2x.png 2x
            " />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/hero/hero-people-1-mobile.png    1x,
              /img/hero/hero-people-1-mobile-2x.png 2x
            " />
          <img
            src="/img/hero/hero-people-1-mobile.png"
            alt="photo of first person"
        /></picture>
      </li>

      <li class="photos-item">
        <picture
          ><source
            media="(min-width: 1280px)"
            srcset="
              /img/hero/hero-people-2-monitor.png    1x,
              /img/hero/hero-people-2-monitor-2x.png 2x
            " />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/hero/hero-people-2-table.png    1x,
              /img/hero/hero-people-2-table-2x.png 2x
            " />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/hero/hero-people-2-mobile.png    1x,
              /img/hero/hero-people-2-mobile-2x.png 2x
            " />
          <img
            src="/img/hero/hero-people-2-mobile.png"
            alt="photo of second person"
        /></picture>
      </li>

      <li class="photos-item">
        <picture
          ><source
            media="(min-width: 1280px)"
            srcset="
              /img/hero/hero-people-3-monitor.png    1x,
              /img/hero/hero-people-3-monitor-2x.png 2x
            " />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/hero/hero-people-3-table.png    1x,
              /img/hero/hero-people-3-table-2x.png 2x
            " />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/hero/hero-people-3-mobile.png    1x,
              /img/hero/hero-people-3-mobile-2x.png 2x
            " />
          <img
            src="/img/hero/hero-people-3-mobile.png"
            alt="photo of third person"
        /></picture>
      </li>
    </ul>
    <a class="scroll-down-link" href="#footer">Scroll down</a>
  </div>

  <picture class="hero-picture">
    <source
      media="(min-width: 1280px)"
      srcset="
        /img/hero/hero-clock-monitor.png    1x,
        /img/hero/hero-clock-monitor-2x.png 2x
      "
    />

    <source
      media="(min-width: 768px)"
      srcset="
        /img/hero/hero-clock-table.png    1x,
        /img/hero/hero-clock-table-2x.png 2x
      "
    />

    <source
      media="(max-width: 767px)"
      srcset="
        /img/hero/hero-clock-mobile.png    1x,
        /img/hero/hero-clock-mobile-2x.png 2x
      "
    />

    <img src="/img/hero/hero-clock-mobile.png" alt="photo of wristwatch" />
  </picture>
</section>
