<section class="section-reviews" id="reviews">
  <div class="reviews-container container">
    <h2 class="reviews-title">Reviews</h2>
    <ul class="reviews-list">
      <li class="reviews-section-item section-item-1">
        <picture class="reviews-section-image">
          <source
            srcset="/img/people/people2.png 1x, /img/people/people2-2x.png 2x"
            media="(min-width: 320px)"
          />
          <img
            src="/img/people/people2.png"
            alt="john-wax"
            width="57"
            height="56"
          />
        </picture>
        <div class="reviews-cart-content">
          <h3 class="reviews-cart-title">John Wax</h3>
          <p class="reviews-cart-text">
            Buying a watch from was the best choice for me. The design is
            perfectly combined with high quality materials. The strap fits
            nicely on the hand, and the mechanism works flawlessly.
          </p>
        </div>
      </li>
      <li class="reviews-section-item section-item-2">
        <picture class="reviews-section-image">
          <source
            srcset="/img/people/people3.png 1x, /img/people/people3-2x.png 2x"
          />
          <img
            src="/img/people/people3.png"
            alt="victoria-romashenko"
            width="57"
            height="56"
          />
        </picture>
        <div class="reviews-cart-content">
          <h3 class="reviews-cart-title">Victoria Romashenko</h3>
          <p class="reviews-cart-text">
            Can't take my eyes off my watch from. Every time I put it on, it is
            admired by those around me. The build quality and attention to
            detail make it a real gem among my accessories.
          </p>
        </div>
      </li>
      <li class="reviews-section-item section-item-3">
        <picture class="reviews-section-image">
          <source
            srcset="/img/people/people1.png 1x, /img/people/people1-2x.png 2x"
          />
          <img
            src="/img/people/people1.png"
            alt="john-wax"
            width="57"
            height="56"
          />
        </picture>
        <div class="reviews-cart-content">
          <h3 class="reviews-cart-title">Anastasia Trachuk</h3>
          <p class="reviews-cart-text">
            My watch from is a real masterpiece. Every detail impresses with the
            high quality of execution. Special features like [specify features]
            make it an indispensable companion in my daily life.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
