
.catalog-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 24px;
}
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.catalog-list-item {
  width: 100%;
  padding: 24px 28px;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  background-color: #f3f3f3;
}
.catalog-img-container {
  padding: 18px 36px 18px 35px;
  margin-bottom: 10px;
}

.catalog-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 8px;
}
.catalog-item-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
}
.catalog-list-item:nth-child(5),
.catalog-list-item:nth-child(6) {
  display: none;
}
.catalog-btn {
  border-radius: 16px;
  width: 160px;
  height: 48px;
  background-color: #3350e9;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: #fbfbfb;
  display: block;
  border: none;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.catalog-btn:hover,
.catalog-btn:focus {
  background-color: #1f3cd4;
}

@media screen and (min-width: 768px) {
  
  .catalog-title {
    font-size: 48px;
    line-height: 0.92;
    margin-bottom: 40px;
  }
  .catalog-list {
    row-gap: 32px;
    column-gap: 16px;
  }
  .catalog-list-item {
    width: calc((100% - 16px) / 2);
    padding: 24px 32px;
  }
  .catalog-img-container {
    padding: 10px 6px;
  }

  .catalog-subtitle {
    font-size: 20px;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .catalog-list-item:nth-child(5),
  .catalog-list-item:nth-child(6) {
    display: block;
  }
  .catalog-btn {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .catalog-list {
    column-gap: 23px;
  }
  .catalog-list-item {
    width: calc((100% - 2 * 23px) / 3);
    padding: 24px 32px;
  }
  .catalog-img-container {
    padding: 6px 6px 14px 6px;
  }
}
