.section-name {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 24px;
}
.form-container {
  border-radius: 30px;
  padding: 48px 28px;
  background-color: #f3f3f3;
  margin-bottom: 20px;
}

.text-form {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 28px;
  text-align: start;
}
.form-input {
  border: 1px solid rgba(12, 12, 12, 0.15);
  background-color: transparent;
  border-radius: 12px;
  padding: 12px 14px;
  width: 100%;
  height: 42px;
  margin-bottom: 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  outline: none;
}

.form-input::placeholder {
  color: #0c0c0c;
}

.comment-textarea {
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  background-color: transparent;
  padding: 12px 14px;
  width: 100%;
  min-height: 84px;
  margin-bottom: 28px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  outline: none;
  resize: none;
}
.form-input,
.comment-textarea {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus,
.comment-textarea:focus {
  border: 1px solid #3350e9;
}

.comment-textarea::placeholder {
  color: #0c0c0c;
}

.form-btn {
  border-radius: 16px;
  padding: 12px 50px;
  width: 134px;
  height: 42px;
  background: #3350e9;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fbfbfb;
  border: none;
}

.form-btn {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-btn:hover,
.form-btn:focus {
  background-color: #1f3cd4;
}

@media screen and (min-width: 768px) {
  .section-name {
    font-size: 48px;
    margin-bottom: 40px;
  }
  .form-container {
    padding: 50px 122px;
    margin-bottom: 40px;
  }
  .text-form {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
  }
  .form-input {
    padding: 16px;
    height: 52px;
    font-size: 16px;
    line-height: 1.25;
  }
  .comment-textarea {
    padding: 16px;
    width: 460px;
    min-height: 90px;
    font-size: 16px;
    line-height: 1.25;
  }
  .form-btn {
    padding: 17px 63px;
    width: 160px;
    height: 52px;
  }
  .watch-image {
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .container-block {
    display: flex;
    justify-content: center;
  }
  .form-container {
    padding: 50px 60px;
    border-radius: 50px;
    max-width: 580px;
    margin-right: 40px;
    margin-bottom: 0;
  }
}
