footer {
  min-width: 320px;
  max-width: 375px;
}

.footer-content {
  border-radius: 30px;
  padding: 40px 28px 28px 28px;
  background-color: #0c0c0c;
  margin-bottom: 20px;
  margin: 0 20px 20px 20px;
}

.footer-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo-and-list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-logo {
  display: block;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}

.footer-list {
  display: flex;
  gap: 10px;
}

.footer-list-item {
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 34px;
  height: 34px;
}

.footer-icon {
  fill: #fbfbfb;
  opacity: 0.8;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-item:hover .footer-icon {
  opacity: 1;
}

.footer-list-item:focus .footer-icon {
  opacity: 1;
}

.phone-number-wrap {
  display: flex;
  font-style: normal;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 16px;
  width: 152px;
  height: 44px;
  margin-bottom: 20px;
}

.footer-phone-number {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33333;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
}

.footer-text-wrap {
  margin: 0 auto;
}

.footer-text {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
}

.nav-wrap {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 92px;
  margin-bottom: 48px;
  position: relative;
}

.footer-nav {
  width: 147px;
}

.footer-nav-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 8px;
}

.footer-nav-list-item {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33333;
  text-align: center;
  color: #fbfbfb;
}

.google-maps {
  max-width: 83px;
}

.google-maps-link {
  font-style: normal;
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33333;
  color: #fbfbfb;
}

.nav-wrap::after {
  content: '';
  width: 100%;
  height: 1px;
  bottom: -24px;
  background-color: rgba(251, 251, 251, 0.1);
  position: absolute;
}

.warning-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.warning-text {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  opacity: 0.9;
}

.terms-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.terms-list-link {
  display: block;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: right;
  color: rgba(251, 251, 251, 0.5);
}

@media screen and (min-width: 768px) {
  footer {
    max-width: 768px;
  }
  .footer-content {
    padding: 40px 40px 28px 40px;
    margin-bottom: 32px;
    margin: 0 32px 32px 32px;
  }

  .footer-content-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 86px;
  }

  .footer-logo {
    display: block;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.02em;
    color: #fbfbfb;
  }

  .footer-list {
    margin-bottom: 0;
  }

  .footer-text {
    width: 524px;
    font-size: 28px;
    line-height: 1.14286;
    margin: 0 auto;
  }

  .footer-phone-number {
    font-size: 14px;
    line-height: 1.28571;
  }

  .nav-wrap {
    margin-top: 100px;
  }

  .footer-nav {
    width: 100%;
  }

  .footer-nav-list {
    column-gap: 19px;
  }

  .footer-nav-list-item {
    font-size: 14px;
    line-height: 1.28571;
  }

  .google-maps {
    max-width: 162px;
  }

  .google-maps-link {
    font-size: 14px;
    line-height: 1.28571;
  }

  .nav-wrap {
    margin-bottom: 56px;
  }

  .nav-wrap::after {
    bottom: -28px;
  }

  .warning-text-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .warning-text {
    font-size: 14px;
    line-height: 1.28571;
  }

  .terms-list-link {
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
  }
}

@media screen and (min-width: 1280px) {
  footer {
    max-width: 1280px;
  }
  .phone-number-wrap {
    order: 3;
  }

  .footer-text-wrap {
    order: 2;
  }
}
