/* header */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-header {
  border-bottom: 1px solid rgba(12, 12, 12, 0.1);
  margin-bottom: 0;
}
.page-header .container {
  margin-bottom: 0;
}

.nav-menu,
.social-list {
  display: none;
}

.header-logo {
  padding: 32px 0px;
  display: block;
}
.icon-menu-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  stroke-width: 3px;
  stroke: #0c0c0c;
}

.icon-menu {
  display: block;
}
.nav-link.current {
  position: relative;
}

.nav-link.current::after {
  content: '';
  display: block;
  position: absolute;
  background-color: #404bbf;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  font-display: auto;
  left: 15px;
  bottom: -10px;
}

@media screen and (min-width: 768px) {
  .header-logo {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.4px;
    padding: 34px 0;
  }
}

@media screen and (min-width: 1280px) {
  .header-logo {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.4px;
    padding: 32px 0;
    margin-right: 203px;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .social-list {
    display: flex;
    gap: 10px;
  }

  .social-list:hover,
  .social-list:focus {
    color: #404bbf;
  }

  .icon-menu-btn {
    display: none;
  }
  .social-item {
    display: flex;
    justify-content: center;
    border: 1px solid rgba(12, 12, 12, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 36px;
    height: 36px;
    align-items: center;
  }
  .social-item:hover,
  .social-item:focus {
    border: 1px solid rgba(51, 80, 233, 0.1);
  }
  .icon {
    fill: #0c0c0c;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .icon:hover,
  .icon:focus {
    fill: #3350e9;
  }

  .link-social-list {
    display: flex;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
}
/*  mobile menu */

.mob-menu {
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-image: url(/img/menu/menu-background-clock-small.jpg);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms ease-in-out;
}
@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .mob-menu {
    background-image: url(/img/menu/menu-background-clock-small-2x.jpg);
  }
}

.mob-menu.is-open {
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
  transform: translateX(0);
}

.mob-menu-container {
  position: relative;
  padding-top: 240px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
}

.mob-nav {
  margin-bottom: auto;
}
.mob-menu-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 34px;
  height: 34px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mob-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  color: #fbfbfb;
}

.mob-menu-close-icon {
  stroke: #fbfbfb;
}
.mob-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.02em;
  color: #fbfbfb;
}

.social-links {
  display: flex;
  gap: 10px;
}

.social-links-item {
  justify-content: center;
  gap: 40px;
  padding: 8px;
}

.icon-social-links {
  fill: #fbfbfb;
}

.social-links-item {
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  padding: 8px;

  height: 34px;
}
.home-link {
  position: relative;
}

.home-link::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  width: 8px;
  height: 8px;
  background-color: currentColor;
  border-radius: 4px;
  opacity: 0;
  transform: translateX(-50%);
  background-color: #3350e9;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-link:focus::after {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .mob-menu {
    width: 330px;
  }
  .mob-menu-list {
    gap: 32px;
  }
  .mob-menu {
    background-image: url(/img/menu/menu-background-clock-big.jpg);
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .mob-menu {
    background-image: url(/img/menu/menu-background-clock-big-2x.jpg);
  }
}

@media screen and (min-width: 1280px) {
  .mob-menu {
    display: none;
  }
}
