/* #region Global */

.container {
  padding: 60px 20px;
  margin: 0 auto 60px;
  min-width: 320px;
  max-width: 375px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 80px 32px;
    min-width: 704px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 80px 65px;
    min-width: 1150pxpx;
  }
}

/* #endregion Global */

.section-hero {
  margin-bottom: 60px;
}

.hero {
}

.hero-dscr-cont {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 28px;
}

.hero-title {
  font-family: 'Gilroy', sans-serif;

  font-weight: 600;
  font-size: 40px;
  line-height: 0.95;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 20px;
}

.collection-span {
  color: #3350e9;
}

.hero-text {
  font-family: 'Gilroy', sans-serif;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);

  margin-bottom: 28px;
}

.photos-link-cont {
  display: flex;
  margin-bottom: 28px;
}

.photos-list {
  display: flex;
}

.photos-item:nth-child(2) {
  transform: translateX(-12px);
}

.photos-item:nth-child(3) {
  transform: translateX(-24px);
}

.scroll-down-link {
  font-family: 'Gilroy', sans-serif;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0c0c0c;
}

.hero-picture {
}

@media screen and (max-width: 767px) {
  .scroll-down-link {
    margin-left: auto;
    align-self: flex-end;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    display: flex;
    flex-wrap: wrap;
  }

  .section-hero {
    margin-bottom: 80px;
  }

  .hero-dscr-cont {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 40px;
    /* max-width: 557px; */
  }

  .hero-title {
    font-size: 70px;
    line-height: 0.85714;
  }

  .photos-link-cont {
    flex-direction: column;
    column-gap: 184px;
  }
}

@media screen and (min-width: 1280px) {
}
